.infinite {
  display: flex;
  flex-wrap: wrap;
  margin: 0 5%;
  border: 1px solid;
  // height: 900px;
  overflow: auto;
  &__div {
    width: 20%;
    text-align: center;
  }

  &__div::hover {
    background-color: #ccc;
  }
}
